<footer class="mt-auto text-white-50">
    <p>Copyright &copy;
        <% const date=new Date() %>
            <% const year=date.getFullYear() %>
                <%= year %>
                    by <a href="https://github.com/Malzagic" class="text-white">@Malzagic - PMDev</a>.
    </p>
</footer>