<main class="px-3">
    <h1><%= data.title %></h1>
    <% for(let i = 0; i < data.list.length; i++) { %>
        <ul>test</ul>
    <% } %>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
</main>