<main class="px-3">
    <h1>
        <%= data.title %>
    </h1>
    <form action="/submit" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="name" aria-label="name" name="name">
            <input type="text" class="form-control" placeholder="todo" aria-label="todo" name="todo">
            <input class="btn btn-outline-light" type="submit" value="submit">
        </div>
    </form>


    <!-- List of ToDo things -->
    <ul class="list-group list-group-flush mb-5">
        <%data.list.forEach((item, index)=> { %>
            <li class="list-group-item bg-dark text-light"><span class="fs-4">
                    <%= index+1 %>.
                </span>
                <%= item.name %> : <%= item.todo %>
            </li>
            <% }) %>
    </ul>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
</main>