<%- inlcude("header.ejs")  %>

<div class="container">
    <h1>About page</h1>
    <p>This is a simple project from course but is extended with new functionalities by added mongodb to store data</p>
</div>

<%- inlcude("footer.ejs")  %>