<%- include("partials/header.ejs")  %>

<div class="container my-5">
    <h1>About page</h1>
    <p>This is a simple project from course but is extended with new functionalities by added mongodb to store data and it will be modified for the future to store different data for different users.</p>
    <h3>Tech stack:</h3>
    <ul class="list-group">
        <li class="list-group-item bg-dark text-light border-0">Node.JS</li>
        <li class="list-group-item bg-dark text-light border-0">Express.js</li>
        <li class="list-group-item bg-dark text-light border-0">MongoDB</li>
        <li class="list-group-item bg-dark text-light border-0">EJS</li>
        <li class="list-group-item bg-dark text-light border-0">JS</li>
        <li class="list-group-item bg-dark text-light border-0">HTML</li>
        <li class="list-group-item bg-dark text-light border-0">CSS</li>
        <li class="list-group-item bg-dark text-light border-0">Boostrap</li>
    </ul>

    <p>Enjoy!</p>
    <a class="btn btn-outline-light" href="/">Back to Home</a>
</div>

<%- include("partials/footer.ejs")  %>